#game-overlay{
	background: rgba(0, 0, 0, 0.6);
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 9999;
	padding: 20px;
}

#game-container {
	background: #FFFFFF;
	width: calc(100% - 40px);
	height: calc(100% - 40px);
}

#game-frame {
	
	border: 0;
	
	width: 100%;
	height: 100%;
	
}

#playTheGameButton {
	
	margin: 0 0 20px 0;
	
	cursor: pointer;
	
	font-size: 14px;
	
	display: block;
	
	background: #a11f1f;
	
	padding: 15px;
	
	font-weight: bold;
	
	color: #fff;
	
	text-transform: uppercase;
	
}

#playTheGameButton span {
	
	margin: 5px 0 0 0;
	
	font-size: 18px;
	
	display: block;
	
	color: #f9e106;
	
}